//- librerias

script(type='text/javascript', src='/lib/jquery-2.1.3.js')

//-   SET de material que tiene que estar obligatorio
script(type='text/javascript', src='/lib/angular.min.js')
script(type='text/javascript', src='/lib/angular-animate.min.js')
script(type='text/javascript', src='/lib/angular-aria.min.js')
// caob 20160721 - cargo el material modificado y no el de fábrica
script(type='text/javascript', src='/lib/angular-material.js')
script(type='text/javascript', src='/lib/angular-messages.min.js')
script(type='text/javascript', src='/lib/underscore-min.js')



//modif caob que no lo tome de internet:
script(type='text/javascript', src='/lib/angular-locale_es-ar.js')

//-   Otros
script(type='text/javascript', src='/lib/angular-resource.min.js')
script(type='text/javascript', src='/lib/angular-route.min.js')


script(type='text/javascript', src='/lib/bp4-data-table.js')
script(type='text/javascript', src='/lib/bp4-tree.js')

script(type='text/javascript', src='/lib/FileSaver.min.js')
script(type='text/javascript', src='/lib/jspdf.min.js')
script(type='text/javascript', src='/lib/jspdf.plugin.autotable.js')



script(type='text/javascript', src='/lib/moment.js')
script(type='text/javascript', src='/lib/angular-moment-picker.js')
script(type='text/javascript', src='/lib/arrayCompare.js')
script(type='text/javascript', src='/lib/quill.min.js')
script(type='text/javascript', src='/lib/ng-quill.js')

//-   directivas filtros ... configuraciones
script(type='text/javascript', src='/app/app.main.js')
script(type='text/javascript', src='/app/config.js')
script(type='text/javascript', src='/app/directives.js')
script(type='text/javascript', src='/app/filters.js')
script(type='text/javascript', src='/app/services.js')
script(type='text/javascript', src='/app/controllers.js')
script(type='text/javascript', src='/app/componentes/componentes.js')
//-   controladores
script(type='text/javascript', src='/app.views/usuarios/usuarios.js')
script(type='text/javascript', src='app.views/admin/perfiles/perfiles.js')
script(type='text/javascript', src='app.views/admin/acciones/acciones.js')
script(type='text/javascript', src='app.views/precargaUsuario/precargaUsuario.js')
script(type='text/javascript', src='app.views/acordeon/acordeon.js')
script(type='text/javascript', src='app.views/procesos/procesos.js')
script(type='text/javascript', src='app.views/documento/tipoDocumento.js')
script(type='text/javascript', src='app.views/apoderado/apoderado.js')
script(type='text/javascript', src='app.views/caracteres/caracteres.js')
script(type='text/javascript', src='app.views/categoria/categoria.js')
script(type='text/javascript', src='app.views/sucursal/sucursal.js')
script(type='text/javascript', src='app.views/sucursalTC/sucursal.js')

script(type='text/javascript', src='app.views/tablas/sucursal/ctrl.js')
script(type='text/javascript', src='app.views/tablas/ejemplo/ctrl.js')
script(type='text/javascript', src='app.views/tablas/date/autocomplete.js')
script(type='text/javascript', src='app.views/calendario/calendario.js')
script(type='text/javascript', src='app.views/fallecidos/fallecidos.js')
script(type='text/javascript', src='app.views/archivos/archivo.js')
script(type='text/javascript', src='app.views/agenda/agenda.js')
script(type='text/javascript', src='app.views/usuarios/alta.js')
script(type='text/javascript', src='app.views/controlArchivos/controlArchivos.js')
script(type='text/javascript', src='app.views/cuentasNoActivas/cuentasNoActivas.js')
script(type='text/javascript', src='app.views/controlSucursales/controlSucursales.js')
script(type='text/javascript', src='app.views/reportes/reportes.js')

script(type='text/javascript', src='/app.views/index.js')
script(type='text/javascript', src='/app.views/reportes/reportesVinculacion/reportesVinculacion.js')
script(type='text/javascript', src='/app.views/reportes/masterSeguros/masterSeguros.js')
script(type='text/javascript', src='/app.views/reportes/sinRelacionConCuenta/sinRelacionConCuenta.js')
script(type='text/javascript', src='/app.views/reportes/reporteTarjetasEnBoletin/reporteTarjetasEnBoletin.js')
script(type='text/javascript', src='/app.views/reportes/clientesRechazados/clientesRechazados.js')
script(type='text/javascript', src='/app.views/reportes/bajaApoderados/bajaApoderados.js')
script(type='text/javascript', src='/app.views/reportes/recargables/recargables.js')
script(type='text/javascript', src='/app.views/reportes/movimientosLiquidados/movimientosLiquidados.js')
script(type='text/javascript', src='/app.views/reportes/cuotasPendientes/cuotasPendientes.js')
script(type='text/javascript', src='/app.views/campañas/campañas.js')
script(type='text/javascript', src='/app.views/distribuciones/distribuciones.js')
script(type='text/javascript', src='/app.views/procesosCampañas/procesosCampañas.js')
script(type='text/javascript', src='/app.views/mailsConfigurables/mailsConfigurables.js')
script(type='text/javascript', src='/app.views/reportes/campañasPorCierre/campañasPorCierre.js')
script(type='text/javascript', src='app.views/retencion/retencion.js')
script(type='text/javascript', src='app.views/divisiones/divisiones.controller.js')
script(type='text/javascript', src='app.views/divisiones/add/addDivisiones.controller.js')
script(type='text/javascript', src='app.views/divisiones/edit/editDivisiones.controller.js')
script(type='text/javascript', src='app.views/divisiones/delete/deleteDivisiones.controller.js')
script(type='text/javascript', src='app.views/regiones/regiones.controller.js')
script(type='text/javascript', src='app.views/regiones/add/addRegiones.controller.js')
script(type='text/javascript', src='app.views/regiones/edit/editRegiones.controller.js')
script(type='text/javascript', src='app.views/regiones/delete/deleteRegiones.controller.js')
script(type='text/javascript', src='/app.views/reportes/dgiDiferencias/dgiDiferencias.js')
script(type='text/javascript', src='/app.views/reportes/procesoConvenio/procesoConvenio.js')
script(type='text/javascript', src='/app.views/configuracionContable/configuracionContable.js')
script(type='text/javascript', src='/app.views/motivosDeRechazo/motivosDeRechazo.js')
script(type='text/javascript', src='/app.views/digitadores/digitadores.js')
script(type='text/javascript', src='/app.views/cotizacion/cotizacion.ctrl.js')
script(type='text/javascript', src='/app.views/cotizacion/cotizacion.service.js')
script(type='text/javascript', src='/app.views/cotizacion/edicion/edicion.ctrl.js')

script(type='text/javascript', src='/app.views/agrupamientos/agrupamientos.js')
script(type='text/javascript', src='/app.views/asignarAgrupador/asignarAgrupador.js')
script(type='text/javascript', src='/app.views/movimientosPresentados/movimientosPresentados.js')
script(type='text/javascript', src='/app.views/codigoDeAjustes/codigoDeAjustes.ctrl.js')
script(type='text/javascript', src='/app.views/codigoDeAjustes/codigoDeAjustes.service.js')
script(type='text/javascript', src='/app.views/codigoDeAjustes/codigoDeAjustes.edicion/codigoDeAjustes.edicion.ctrl.js')
script(type='text/javascript', src='/app.views/porcentajeComision/porcentajeComision.ctrl.js')
script(type='text/javascript', src='/app.views/porcentajeComision/porcentajeComision.edicion/porcentajeComision.edicion.ctrl.js')
script(type='text/javascript', src='/app.views/porcentajeComision/porcentajeComision.service.js')
script(type='text/javascript', src='/app.views/entesExternos/entesExternos.js')
script(type='text/javascript', src='/app.views/entesExternos/entesExternos.service.js')
script(type='text/javascript', src='/app.views/entesExternos/entesExternos.caratulas/entesExternos.caratulas.ctrl.js')
script(type='text/javascript', src='/app.views/ABMeventos/ABMeventos.ctrl.js')
script(type='text/javascript', src='/app.views/ABMeventos/ABMeventos.service.js')
script(type='text/javascript', src='/app.views/ABMeventos/ABMeventos.popup/ABMeventos.popup.ctrl.js')
script(type='text/javascript', src='/app.views/ABMeventos/ABMeventos.delete/ABMeventos.delete.ctrl.js')
script(type='text/javascript', src='/app.views/conciliacionCobranzas/conciliacionCobranzas.js')
script(type='text/javascript', src='/app.views/cruceVISACO/cruceVISACO.ctrl.js')
script(type='text/javascript', src='/app.views/cruceVISACO/cruceVISACO.service.js')
script(type='text/javascript', src='/app.views/partPendientesVi/partPendientesVi.ctrl.js')
script(type='text/javascript', src='/app.views/partPendientesVi/partPendientesVi.service.js')
script(type='text/javascript', src='/app.views/partPendientesVi/dialogDetalleCie.ctrl.js')
script(type='text/javascript', src='/app.views/partPendientesVi/dialogDetalleCis.ctrl.js')

script(type='text/javascript', src='/app.views/cancelaciones/cancelaciones.js')
script(type='text/javascript', src='/app.views/cantidadCuentasTarjetas/cantidadCuentasTarjetas.ctrl.js')
script(type='text/javascript', src='/app.views/cantidadCuentasTarjetas/cantidadCuentasTarjetas.service.js')
script(type='text/javascript', src='/app.views/cantidadCuentasTarjetas/cantidadCuentasTarjetas.edicion/cantidadCuentasTarjetas.edicion.ctrl.js')
script(type='text/javascript', src='/app.views/datosFijos/datosFijos.js')
script(type='text/javascript', src='/app.views/datosFijosEDP/datosFijosEDP.js')

script(type='text/javascript', src='/app.views/datosFijosVS/datosFijosVS.ctrl.js')
script(type='text/javascript', src='/app.views/datosFijosVS/datosFijosVS.service.js')
script(type='text/javascript', src='/app.views/datosFijosVS/datosFijosVS.tarjetas/datosFijosVS.tarjetas.ctrl.js')
script(type='text/javascript', src='/app.views/datosFijosVS/datosFijosVS.tarjetas/datosFijosVS.tarjetas.service.js')
script(type='text/javascript', src='/app.views/datosFijosVS/datosFijosVS.cuentas/datosFijosVS.cuentas.ctrl.js')
script(type='text/javascript', src='/app.views/datosFijosVS/datosFijosVS.cuentas/datosFijosVS.cuentas.service.js')
script(type='text/javascript', src='/app.views/datosFijosVS/datosFijosVS.cuentas/datosFijosVS.cuentas.edicion/datosFijosVS.cuentas.edicion.ctrl.js')
script(type='text/javascript', src='/app.views/datosFijosVS/datosFijosVS.tarjetas/datosFijosVS.tarjetas.edicion/datosFijosVS.tarjetas.edicion.ctrl.js')

script(type='text/javascript', src='/app.views/limitesDeCompras/limitesDeCompras.ctrl.js')
script(type='text/javascript', src='/app.views/limitesDeCompras/limitesDeCompras.productos/limitesDeCompras.productos.ctrl.js')
script(type='text/javascript', src='/app.views/limitesDeCompras/limitesDeCompras.productos/limitesDeCompras.productos.service.js')
script(type='text/javascript', src='/app.views/limitesDeCompras/limitesDeCompras.coeficientesImportes/limitesDeCompras.coeficientesImportes.ctrl.js')
script(type='text/javascript', src='/app.views/limitesDeCompras/limitesDeCompras.coeficientesImportes/limitesDeCompras.coeficientesImportes.service.js')
script(type='text/javascript', src='/app.views/limitesDeCompras/limitesDeCompras.productos/limitesDeCompras.productos.edicion/limitesDeCompras.productos.edicion.ctrl.js')
script(type='text/javascript', src='/app.views/limitesDeCompras/limitesDeCompras.coeficientesImportes/limitesDeCompras.coeficientesImportes.edicion/limitesDeCompras.coeficientesImportes.edicion.ctrl.js')

script(type='text/javascript', src='/app.views/rechazosVS/rechazosVS.ctrl.js')
script(type='text/javascript', src='/app.views/rechazosVS/rechazosVS.service.js')

script(type='text/javascript', src='/app.views/unificado/unificado.ctrl.js')
script(type='text/javascript', src='/app.views/unificado/unificado.service.js')
script(type='text/javascript', src='/app.views/unificado/unificado.cuentas/unificado.cuentas.ctrl.js')
script(type='text/javascript', src='/app.views/unificado/unificado.cuentas/unificado.cuentas.service.js')
script(type='text/javascript', src='/app.views/unificado/unificado.tarjetas/unificado.tarjetas.ctrl.js')
script(type='text/javascript', src='/app.views/unificado/unificado.tarjetas/unificado.tarjetas.service.js')


script(type='text/javascript', src='/app.views/promociones/PromoTC.js')
script(type='text/javascript', src='/app.views/promociones/promoTD/promoTDAsoc.ctrl.js')
script(type='text/javascript', src='/app.views/promociones/promoTD/promoTDAsoc.service.js')
script(type='text/javascript', src='/app.views/promociones/promoTD/promoTD-Confirmar/promoTD-Confirmar.ctrl.js')
script(type='text/javascript', src='/app.views/fallecidos/riesgoContingente/riesgoContingente.js')
script(type='text/javascript', src='/app.views/promociones/promociones/promociones.js')
script(type='text/javascript', src='/app.views/promociones/promoTDConsulta/promoTDConsulta.ctrl.js')
script(type='text/javascript', src='/app.views/promociones/promoTDConsulta/promoTDConsulta.service.js')
script(type='text/javascript', src='/app.views/rechazosUnificado/rechazosUnificado.ctrl.js')
script(type='text/javascript', src='/app.views/rechazosUnificado/rechazosUnificado.service.js')
script(type='text/javascript', src='app.views/reclamos/index.js')

//service generico
script(type='text/javascript', src='/app/componentes/confirmar/confirmar.ctrl.js')
script(type='text/javascript', src='/app/componentes/confirmar/confirmar.service.js')

//dejar este ultimo de todos
script(type='text/javascript', src='/app/app.init.js')
