//- librerias

script(type='text/javascript', src='/lib/jquery-2.1.3.js')

//-   SET de material que tiene que estar obligatorio
script(type='text/javascript', src='/lib/angular.min.all.js')
//- script(type='text/javascript', src='/lib/angular.min.js')
//- script(type='text/javascript', src='/lib/angular-animate.min.js')
//- script(type='text/javascript', src='/lib/angular-aria.min.js')
//- script(type='text/javascript', src='/lib/angular-material.js')
//- script(type='text/javascript', src='/lib/angular-material.min.js')
//- script(type='text/javascript', src='/lib/angular-messages.min.js')

script(type='text/javascript', src='/lib/underscore-min.js')

//modif caob que no lo tome de internet:
//- script(type='text/javascript', src='/lib/angular-locale_es-ar.js')
//- script(type='text/javascript', src='/lib/angular-resource.min.js')
//- script(type='text/javascript', src='/lib/angular-route.min.js')


script(type='text/javascript', src='/lib/bp4-data-table.js')
script(type='text/javascript', src='/lib/bp4-tree.js')


script(type='text/javascript', src='/lib/moment.js')
script(type='text/javascript', src='/lib/angular-moment-picker.js')
script(type='text/javascript', src='/lib/arrayCompare.js')
script(type='text/javascript', src='/lib/quill.min.js')
script(type='text/javascript', src='/lib/ng-quill.js')

//-   directivas filtros ... configuraciones
script(type='text/javascript', src='/app/app.main.js')
script(type='text/javascript', src='/app/config.js')
script(type='text/javascript', src='/app/directives.js')
script(type='text/javascript', src='/app/filters.js')
script(type='text/javascript', src='/app/services.js')
script(type='text/javascript', src='/app/controllers.js')
script(type='text/javascript', src='/app/componentes/componentes.js')


script(type='text/javascript', src='app.views/procesos/procesos.js')
script(type='text/javascript', src='app.views/caracteres/caracteres.js')

//-   controladores

script(type='text/javascript', src='app.views/agenda/agenda.js')
script(type='text/javascript', src='/app.views/reportes/sinRelacionConCuenta/sinRelacionConCuenta.js')
script(type='text/javascript', src='/app.views/mailsConfigurables/mailsConfigurables.js')

script(type='text/javascript', src='/app.views/index.js')
 


//dejar este ultimo de todos
script(type='text/javascript', src='/app/app.init.js')
