head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible')
  meta(name='viewport')

  title= appName

  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="Banco Macro")
  meta(name="description", content="Banco Macro")

  link(href='/img/icons/favIcon.jpg', rel='shortcut icon', type='image/x-icon')
  link(rel='icon', type='image/x-icon', href='/img/favIcon.ico')
  link(rel='icon', href='/img/favicon.jpg')

  meta(property='fb:app_id')

  meta(property='og:title')
  meta(property='og:description', content='Banco Macro. Plataforma de Procesos')
  meta(property='og:type')
  meta(property='og:url')
  meta(property='og:image')
  meta(property='og:site_name')

  meta(property='fb:admins')

  link(rel='stylesheet', href='/css/angular-material.css')
  link(rel='stylesheet', href='/css/angular-material.layouts.css')
  link(rel='stylesheet', href='/css/bp4.css')
  link(rel='stylesheet', href='/css/bp4-tree.css')
  link(rel='stylesheet', href='/css/bp4-data-table.css')
  link(rel='stylesheet', href='/css/quill.snow.css')
  link(rel='stylesheet', href='/css/angular-moment-picker.min.css')