<md-card>
    <toolbar data="toolbar"></toolbar>
    <md-table-container class="md-scrollX" style="overflow: auto">
        <grilla mostrar-paginacion="true" paginado-db="true" data="grillaMovPresentados" ></grilla>
    </md-table-container>
</md-card>


<script type="text/ng-template" id="movimientosPresentadosFilterForm.tmpl.html">
    <form name="frmMovimientosPresentados" layout="row" layout-align="start start">
        <md-input-container>
            <md-select   id="cboEntidad" name="cboEntidad"  ng-model="toolbar.query.entidad" ng-init="toolbar.query.entidad=toolbar.entidades[0];" >
                <md-option ng-value="itemEntidad" ng-repeat="itemEntidad in toolbar.entidades">{{itemEntidad.descripcion}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <md-select   id="cboConciliacion" name="cboConciliacion"   ng-model="toolbar.query.conciliacion">
                <md-option ng-value="itemConciliacion" ng-repeat="itemConciliacion in toolbar.conciliaciones">{{itemConciliacion.descripcion}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <md-datepicker required="true" id="fechaDesde" name="fechaDesde"   md-placeholder="Fecha desde"
                           type="date"
                           md-max-date="toolbar.query.fechaHasta"
                           ng-model="toolbar.query.fechaDesde"></md-datepicker>
            <div  class="validation-messages" ng-messages="frmMovimientosPresentados.fechaDesde.$error">
                <div ng-message="required">Ingresar fecha.</div>
                <div ng-message="valid">El valor no es una fecha valida.</div>
                <div ng-message="maxdate">El fecha debe ser menor que el valor seleccionado.</div>

            </div>
        </md-input-container>
        <md-input-container>
            <md-datepicker required="true" type="date" id="fechaHasta" name="fechaHasta"  md-placeholder="Fecha hasta"
                           md-min-date="toolbar.query.fechaDesde"
                           ng-model="toolbar.query.fechaHasta"></md-datepicker>
            <div  class="validation-messages" ng-messages="frmMovimientosPresentados.fechaHasta.$error">
                <div ng-message="valid">El valor no es una fecha valida.</div>
                <div ng-message="required">Ingresar fecha.</div>
                <div ng-message="mindate">El fecha debe ser menor que el valor seleccionado.</div>
            </div>
        </md-input-container>
        <md-input-container>
            <button class="md-icon-button md-button md-ink-ripple" type="submit" ng-click="toolbar.onFilter(frmMovimientosPresentados)">
                <md-icon class="ready" ng-show="!toolbar.filtrado" md-svg-src="img/icons/playlist_play.svg"></md-icon>
                <md-icon class="done" ng-show="toolbar.filtrado" md-svg-src="img/icons/playlist_check.svg"></md-icon>
                <md-tooltip md-autohide> {{ !toolbar.filtrado ?  'Aplicar filtro' : 'Filtro Aplicado' }}</md-tooltip>
            </button>
        </md-input-container>
    </form>
</script>



