<div class="lghtCont">
    <div class="lght md">
        <div class="panel-heading">
            <h4 class="panel-title">{{params.titulo}}</h4>
        </div>
        <div class="panel-body">
            <div class="col-sm-12">
                <span class="mensajerojo">{{params.motivo}}</span>
            </div>
        </div>
        <!--    BOTONES     -->
        <div class="panel-body">
            <div class="row">
                <div class="text-right col-sm-12">
                    <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
                    <button type="button" class="btn btn-default" ng-click="ok()">Confirmar</button>
                </div>
            </div>
        </div>

    </div>
</div>
