<md-dialog aria-label="ABM Apoderados"  ng-cloak flex="40">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{operac}} de Regiones</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                <md-icon md-svg-src="/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="toastParent">
        <form id="formDocumentoDelete" ng-submit="ctrl.confirmOperation(formDocumentoDelete.$error)" name="formDocumentoDelete" role="form">
            <div class="md-dialog-content mddc-thead">
                <div layout-gt-xs="row">
                    <md-datepicker id="fecBajaAll" name="fecBajaAll"
                                   md-min-date="currentDate"
                                   ng-model="fecBajaAll">
                    </md-datepicker>
                    <span class=".control-group.error .control-label" ng-if="errorForm == true" ng-show="formDocumentoDelete.fecBajaAll.$error"></span>
                </div>
            </div>

            <div class="md-dialog-content" style="padding-top: 0;">
                <div class="modal-body">
                    <md-table-container>
                        <table data-md-table data-md-row-select="true" data-ng-model="regionesGrilla.selected" md-progress="promise">

                            <!--barra de titulos-->
                            <thead ng-if="!hideHead" md-head >
                            <tr md-row>
                                <th md-column md:order:by="codigo"><span>Código</span></th>
                                <th md-column data-md-order-by="descripcion"><span>Descripción</span></th>
                                <th md-column data-md-order-by="descripcionProv"><span>Fecha de Baja </span></th>
                            </tr>
                            </thead>
                            <!--rows de datos-->
                            <tbody md-body>
                            <tr md-row data-ng-repeat="row in regionesGrilla.data">
                                <td md-cell>{{row.codigo}}</td>
                                <td md-cell>{{row.descripcion}}</td>
                                <td md-cell>{{row.fecBaja}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>

                    <input type="submit"
                           style="position: absolute; left: -9999px; width: 1px; height: 1px;"
                           tabindex="-1" />
                </div>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <a href="javascript:void(0)" class="md-button md-ink-ripple" ng-click="ctrl.cancel()">Cancelar</a>
        <md-button type="button" class="md-raised md-primary md-button md-ink-ripple" ng-click="ctrl.confirmOperation(formDocumentoDelete.$error)">
            <span>Aceptar</span>
        </md-button>
    </md-dialog-actions>
</md-dialog>