<div ng-controller="coeficientesImportes.ctrl">
    <md-table-container class="md-scrollX" ng-show="coeficienteImporteGrid.data.length">
        <table data-md-table data-md-row-select="false" md-progress="promiseObj" ng-model="coeficienteImporteGrid.selected">
            <thead md-head data-md-order="coeficienteImporteGrid.query.order" md-on-reorder="onReorder">
            <tr md-row>
                <th md-column style="text-align:right"></th>
                <th md-column md:order:by="marca" style="text-align:right"><span>Marca</span></th>
                <th md-column data-md-order-by="letra" style="text-align:right"><span>Letra</span></th>
                <th md-column data-md-order-by="coeficiente" style="text-align:right"><span>Coeficiente</span></th>
                <th md-column data-md-order-by="importe" style="text-align:right;"><span>Importe</span></th>
            </tr>
            </thead>

            <!--rows de datos-->
            <tbody md-body>
            <tr md-row data-ng-repeat="row in coeficienteImporteGrid.data | orderBy: coeficienteImporteGrid.query.order | filter: filtering | limitTo: coeficienteImporteGrid.query.limit : (coeficienteImporteGrid.query.page - 1) * coeficienteImporteGrid.query.limit">
                <td md-cell style="width:20px">
                    <md-checkbox ng-model="row.selected" aria-label="check fila" ng-change="onSelectRow(row, $index)">
                    </md-checkbox>
                <td md-cell style="text-align:right">{{ row.marca }}</td>
                <td md-cell style="text-align:right">{{ row.letra }}</td>
                <td md-cell style="text-align:right">{{ row.coeficiente }}</td>
                <td md-cell style="text-align:right">{{ row.importe | number }}</td>
                <td md-cell></td>

            </tr>
            </tbody>
        </table>
    </md-table-container>
    <data-md-table-pagination ng-if="coeficienteImporteGrid.data.length" md-limit="coeficienteImporteGrid.query.limit" md-limit-options="[5, 10, 15]"
                              md-page="coeficienteImporteGrid.query.page" md-total="{{coeficienteImporteGrid.data.length}}" md-page-select>
    </data-md-table-pagination>

</div>

