<div id="toastSelect">
    <p></p>
</div>

<md-card ng-init="load()">
    <md-toolbar class="md-table-toolbar md-default" ng-show="grid.selected.length === 0">
        <div class="md-toolbar-tools">
            <span>Distribuciones</span>
            <span flex></span>
            <button class="md-fab md-button md-success md-ink-ripple" type="button" ng-click="add()">
                <md-tooltip md-autohide>Agregar</md-tooltip>
                <md-icon md-svg-src="img/icons/ic_add_white_24px.svg"> </md-icon>
            </button>
        </div>
    </md-toolbar>
    <md-toolbar class="md-table-toolbar alternate md-hide" ng-show="grid.selected.length > 0">
        <div class="md-toolbar-tools">
            <span>{{grid.selected.length}} {{grid.selected.length > 1 ? 'items' : 'item'}} seleccionados</span>
            <span flex></span>
            <md-button ng-show="true" class="md-icon-button"
                       aria-label="Modificar"
                       ng-click="update()" >
                <md-tooltip md-autohide>Modificar</md-tooltip>
                <md-icon md-svg-src="img/icons/ic_edit_black_24px.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button"
                       aria-label="Dar de baja"
                       ng-click="delete()">
                <md-tooltip md-autohide>Baja</md-tooltip>
                <md-icon md-svg-src="img/icons/ic_delete_black_24px.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-table-container>
        <table data-md-table data-md-row-select single-selection="true" md-progress="promise" ng-model="grid.selected" multiple="false">

            <thead md-head data-md-order="grid.query.order" md-on-reorder="onReorder">
            <tr md-row>
                <th md-column md:order:by="codigo" ><span>Código Distribución</span></th>
                <th md-column data-md-order-by="descripcion"><span>Descripción</span></th>
                <th md-column data-md-order-by="codigoCampaña"><span>Código Campaña</span></th>
            </tr>
            </thead>

            <tbody md-body>
            <tr md-row md:select="row"
                data-md-on-select="true"
                md-on-deselect="false"
                ng-repeat="row in grid.data | orderBy: grid.query.order | limitTo: grid.query.limit : (grid.query.page - 1) * grid.query.limit">
                <td md-cell>{{row.codigo}}</td>
                <td md-cell>{{row.descripcion}}</td>
                <td md-cell>{{row.codigoCampania}}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <data-md-table-pagination md-limit="grid.query.limit" md-page="grid.query.page" md-total="{{grid.count}}" md-on-paginate="onPaginate" md-page-select>
    </data-md-table-pagination>
</md-card>