extends layouts/default

//block main
//  h1
//  br
//  span 401


block content
    div
      p.
        Esta direccion no esta configurada.
      span.close(data-dismiss="danger") &times;
      p= error



